<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-for="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title></title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <style>
        div {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        span{
            width: 1000px;	height: auto; /* Размеры */
            background: darkcyan; /* Цвет фона */
            outline: 2px darkcyan; /* Чёрная рамка */
            border: 3px solid #fff; /* Белая рамка */
        }
        p{
            color: white;
            margin: 2%;
        }
        p2{
            display: flex;
            color: black;
            margin: 1%;
        }
        p3{
            display: flex;
            color: black;
            margin: 1%;
            text-align: left;
            flex-wrap: wrap;
        }
        h3{
            color: white;
            margin: 2%;
        }
        h4{
            color: black;
            margin: 2%;
        }
        input{
            margin: 2%;
        }
        label{
            display: inline-flex;
            margin: 2%;
            justify-content: space-between;
        }

        li{
            display: flex;
            color: black;
            width: 700px;	height: auto; /* Размеры */
            background: white; /* Цвет фона */
            outline: 2px white; /* Чёрная рамка */
            border: 3px solid #fff; /* Белая рамка */
            margin: 2%;
            flex-direction: row;
            justify-content: space-between;
        }
        label1{
            display: flex;
            flex-direction: row-reverse;
        }

        a.butt {
            text-align:right;
            font-size:13px;
            text-decoration: none;
           /* font-weight: 700;*/
            padding: 3px 10px;
            background: grey;
            display:block;
            width:60px;
            margin: 20px auto;
            /*background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,.1));*/
            color: rgba(255,255,255);
            /*text-shadow: 0 1px 1px rgba(255,255,255,.7);*/
            /*box-shadow: 0 0 0 1px rgba(0,0,0,.2), 0 1px 2px rgba(0,0,0,.2), inset 0 1px 2px rgba(255,255,255,.7);*/
        }

        a.butt:hover, a.butt.hover {
            background:dimgrey;
        }
        a.butt:active, a.butt.active {
            background: #d0d3d6;
            background-image: linear-gradient(rgba(0,0,0,.1), rgba(0,0,0,0));
            box-shadow: inset 0 0 2px rgba(0,0,0,.2), inset 0 2px 5px rgba(0,0,0,.2), 0 1px rgba(255,255,255,.2);
        }
    </style>
</head>
<body>
    <div id="vue">
        <p2>Калькулятор</p2>
        <div id="vue">
            <span>
                <h3>Стоимость полиса:</h3>
                <p>{{price}}</p>
                <label><p>Возраст:</p>
                    <input v-model="age" placeholder="Введите ваш возраст">
                </label>
                <label>
                    <p>Выберите ваш пол:</p>
                    <input type="radio" id="one" value="Один" v-model="sex">
                    <label for="one">М</label>
                    <input type="radio" id="two" value="Два" v-model="sex">
                    <label for="two">Ж</label>
                </label>
                <label>
                    <a href="#" class="butt" @click="calculateFunc">Рассчитать</a>
                </label>
            </span>


            <span>
                <h3>Базовые программы:</h3>
                <ul>
                    <li>
                        <label>
                            <p2>(20ПЭ) Амбулаторно-поликлиническое обслуживание "ЭКОНОМ"</p2>
                        </label>
                        <label><p2>54000</p2></label>
                    </li>
                    <li>
                        <label>
                            <p2>(20ПС) Амбулаторно-поликлиническое обслуживание "СТАНДАРТ"</p2>
                        </label>
                        <label><p2>60000</p2></label>
                    </li>
                    <li>
                        <label>
                            <p2>(20ПМ) Амбулаторно-поликлиническое обслуживание "МАКСИМУМ"</p2>
                        </label>
                        <label><p2>66600</p2></label>
                    </li>
                    <li>
                        <label>
                            <p2>(ДПМ) Амбулаторно-поликлиническое обслуживание "МАКСИМУМ" с диспансеризацией</p2>
                        </label>
                        <label><p2>76800</p2></label>
                    </li>
                    <li>
                        <label>
                            <p2>(20П06) Амбулаторно-поликлиническое обслуживание по программе "VIP - клиент"</p2>
                        </label>
                        <label><p2>96600</p2></label>
                    </li>
                </ul>
            </span>


            <span>
                <h3>Дополнительные программы:</h3>
                <p>Стоматология (БЛОК 2)</p>
                <ul>
                    <li>
                        <label>
                            <p2>(20СТ1) Стоматологическая помощь (без протезирования) "ЭКОНОМ"</p2>
                        </label>
                        <label><p2>00000</p2></label>
                    </li>
                     <li>
                        <label>
                            <p2>(20СТ2) Стоматологическая помощь (без протезирования) "СТАНДАРТ"</p2>
                        </label>
                        <label><p2>00000</p2></label>
                    </li>
                     <li>
                        <label>
                            <p2>(20СТ3) Стоматологическая помощь без протезирования "МАКСИМУМ"</p2>
                        </label>
                        <label><p2>00000</p2></label>
                    </li>
                     <li>
                        <label>
                            <p2>(20СТ4) Стоматологическая помощь без протезирования "VIP"</p2>
                        </label>
                        <label><p2>00000</p2></label>
                    </li>
                </ul>
                <p>Помощь на дому (БЛОК 3)</p>
                <ul>
                     <li>
                        <label>
                            <p2>(20ПНД) Помощь на дому</p2>
                        </label>
                        <label><p2>00000</p2></label>
                    </li>
                </ul>
                <p>Скорая помощь (БЛОК 4)</p>
                <ul>
                     <li>
                        <label>
                            <p2>(20СМП1) Скорая медицинская помощь (4 выезда)</p2>
                        </label>
                        <label><p2>00000</p2></label>
                    </li>
                     <li>
                        <label>
                            <p2>(20СМП2) Скорая медицинская помощь в радиусе 20 км от МКАД (4 выезда)</p2>
                        </label>
                        <label><p2>00000</p2></label>
                    </li>
                </ul>
            </span>


            <label1><a href="#" class="butt" >Отправить</a></label1>

        </div>
    </div>

<script type="text/javascript">

    let app = new Vue({
        el: '#vue',
        data: {
            sex: true,
            age: 0,
            price: 0
        },

        methods: {
            calculateFunc(){
                if (this.age < 18 && this.age >= 0)
                    this.price = 10000;
                else if (this.age > 18 && this.age < 65)
                    this.price = 20000;
                else if (this.age > 65 && this.age < 110)
                    this.price = 15000;
                else
                    alert("Неправильно введён возраст");
            }
        }
    })
</script>
</body>
</html>